@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

:root{
    --primary-color: #006d77;

   /* // 006d77 ff595e */



}

body{
    font-family: 'Concert One', cursive;
    text-align: center;
    font-size: 35px;
    color: var(--primary-color);
}

/* main */


h2{
    padding: 1rem;
    font-size: 60px;
}
.input-label{
    display: block;
    padding: 1rem;
    margin: 1.5rem;
}
#bday-input{
    border-radius: 15px;
    font-size: 20px;
    border:  5px solid var(--primary-color);
    height: 6ch;
    width:30ch;

}


#show-btn{
    display: block;
    margin: 2rem auto;
    padding: 1.5rem 3rem;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--primary-color);
    border-radius: 20px;
    cursor: pointer;
}


footer{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    font-size: 40px;
}

a{
    text-decoration: none;
    padding: 1rem;
    margin: 0.5rem;
}

.fa{
    color: var(--primary-color);
}